.class{
  height: 100vh;
  width: inherit;
  .details{
    display: flex;
    gap: var(--padding-s);
    height: inherit;
    width: inherit;
    @media screen and (max-width: 60em) {
      flex-direction: column;
    }
    .panel{
      padding-block: var(--padding-s);
      article{
        h3:not(:first-child) {
          margin-block-start: var(--padding-s);
        }
      }
    }
    .panel_one {

      .nav {
        margin-block-start: 1.5rem;
        .nav__container {
          display: flex;
          flex-direction: column;
          gap: calc(var(--padding-s) / 4);
          @media screen and (max-width: 60em) {
            flex-direction: row;
            flex-wrap: wrap;
          }
          .nv {
            background: var(--secondary-color);
            padding: calc(var(--padding-s) / 2);
            cursor: pointer;
            transition: all 300ms ease-in-out;
            &:hover, &.active {
              filter: brightness(120%);
            }
            @media screen and (max-width: 60em) {
              text-align: center;
            }
          }
        }
      }
    }
    .panel_two{

      width: 100%;
      height: 100%;
      overflow: hidden;
      &__wrapper{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera */
        }
        #calendar__content, #projects__content{
          article{
            .cal, .proj{
              padding-bottom: calc(var(--padding-s) / 4);
              .cal__btn, .proj__btn{
                background: var(--secondary-color);
                padding: calc(var(--padding-s) / 2);
                transition: all 300ms ease-in-out;
                cursor: pointer;
                &:hover {
                  filter: brightness(120%);
                }
                a {
                  color: var(--primary-color);
                }
              }
              & > div {
                padding-inline-start: var(--padding-s);
              }
              .cal_detail, .proj__detail{
                padding-block: var(--padding-s);
                .next__week{
                  padding-block-start: var(--padding-s);
                }
              }
              .proj__detail{
                p + p {
                  text-indent: 0
                }
                & > div {
                  padding-block-end: var(--padding-s);
                }
              .heading{
                font-weight: bold;
              }
              }
            }
          }
        }
        #participants__content{
          #collab__picker{
            font-size: 2rem;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            user-select: none;
            &:hover{
              font-size: 2.2rem;
            }
          }
          article {
            ul {
              .collaborator  {
                text-transform: capitalize;
                padding-block: calc(var(--padding-s)/5);
                transition: all 300ms ease-in-out;
                &.selected{
                  color: whitesmoke;
                  font-weight: bold;
                  background: var(--secondary-color);
                  background: linear-gradient(90deg, rgba(80,129,115,1) 0%, rgba(60,255,191,1) 100%);
                  padding: calc(var(--padding-s)/4);
                }
              }
            }
          }
        }
        #resources__content{
          ul:first-of-type{
            margin-block-start: 0;
            .heading{
              padding-bottom: var(--padding-s);
            }
          }
        }
      }
    }
  }
}
