:root {
  --primary-color: #181818;
  --secondary-color: #508173;
  --bg-color: #fefefe;
  --fh-height: 5vh;
  --body-height: calc(100vh - var(--fh-height));
  --padding-m: 3rem;
  --padding-s: 1rem;
}
