<div class="nav">
    <div class="nav__container">
        <div aria-label="View Syllabus" class="nv" id="syllabus"><span>📓</span>  <span class="cl_nv">Syllabus</span> </div>
        <div aria-label="View Calendar" class="nv" id="calendar"><span>📆</span> <span class="cl_nv">Calendar</span> </div>
        <div aria-label="View Projects" class="nv" id="projects"><span>💻</span> <span class="cl_nv">Projects</span> </div>
        <div aria-label="View Participants" class="nv" id="participants"><span>🟢</span> <span class="cl_nv">Participants</span> </div>
        <div aria-label="View Resources" class="nv" id="resources"><span>🗂</span> <span class="cl_nv">Resources</span> </div>
        <div aria-label="View Office Hours" class="nv" id="office__hrs"><span>🗓</span> <span class="cl_nv"> <a
                        href="https://fantastical.app/alvinashiatey/design-3a" target="_blank">Office Hours</a></span> </div>
    </div>
</div>
