<div class="nav">
    <div class="nav__container">
        <div class="nv" id="syllabus"><span>📓</span>  <span class="cl_nv">Syllabus</span> </div>
        <div class="nv" id="calendar"><span>📆</span> <span class="cl_nv">Calendar</span> </div>
        <div class="nv" id="projects"><span>💻</span> <span class="cl_nv">Projects</span> </div>
        <div class="nv" id="participants"><span>🟢</span> <span class="cl_nv">Participants</span> </div>
        <div class="nv" id="resources"><span>🗂</span> <span class="cl_nv">Resources</span> </div>
    </div>
</div>
