<div class="nav">
    <div class="nav__container">
        <div class="nv" id="syllabus"><span>:</span> Syllabus</div>
        <div class="nv" id="calendar"><span>:</span> Calendar</div>
        <div class="nv" id="projects"><span>:</span> Projects</div>
        <div class="nv" id="participants"><span>:</span> Participants</div>
        <div class="nv" id="resources"><span>:</span> Resources</div>
    </div>
</div>
